.events-table {
	overflow: auto;
	margin-top: 10px;
	display: flex;
	flex-direction: column;

	.events-table-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}

	.events-table-content {
		max-height: 500px;
		max-height: calc(100vh - 200px);
		overflow: overlay;
		border-right: 1px solid #000000;
		border-bottom: 1px solid #000000;
	}

	.events-table-header {
		display: flex;

		.header-item {
			border: 1px solid #000000;
			border-right: 0;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:last-child {
				border-right: 1px solid #000000;
			}

			.sort-button {
				cursor: pointer;
			}

			.header-item-title {
				font-weight: bold;
			}
		}
	}
}