.events-table-row {
	display: flex;

	.row-item {
		display: block;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		height: 25px;
		padding: 4px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		span {
			margin-bottom: 5px;
		}

		&.column-name {
			justify-content: space-between;
		}

		&:last-child {
			border-right: 1px solid #000000;
		}
	}
}

.selected-row {
	background-color: aqua;
}
